@media(max-width : 890px){
    .main-container{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card{ flex-direction: column!important;
        }
    .subjekt-buttons {
            padding-bottom: 0;
            border-radius: 16px 16px 0 0;
        }
    .margin-lr-16px {
            margin-right: 16px;
            margin-left: 16px;
        }
    .topic-button {
            flex-direction: row;
            padding-bottom: 20px;
        }
    .header-img{
            width: 200px;
        }
    .padding-bottom-80px {
            padding-bottom: 40px;
        }
        .h-line{
            display: none;
        }
        .brain-img{
            height: 100%;
            border-radius: 0 0 16px 16px;
        }
    
}
@media (max-width:580px){
    .topic-button {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
    }
   
    .brain-img {
        height: 100%;
        border-radius: 0 0 16px 16px;
    }
    .start-img{
        border-radius: 16px 16px 16px 16px;
    }
    .main-container{
        margin-left: 24px;
        margin-right: 24px;;
    }
}
@media (max-width:480px){
    .main-container{
        margin:0;
    }
    .card-titele{
        font-size: 34px !important;
    }

}
