@font-face {
    font-family: "rubik-r";
    src: url("./fonts/Rubik-Regular.ttf");
  }
  @font-face {
    font-family: "rubik-m";
    src: url("./fonts/Rubik-Medium.ttf");
  }

body{
    min-height: 100vh;
    background-color:#FEFAEF!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-row{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
h5{
    font-size: 2.25rem!important;
    font-family: rubik-m;
}
.text-center{
    text-align: center;
}
.font-rubik-r{
    font-family: rubik-r;
}
.width-85-vw{
    width: 85vw !important;
}
.height-70-vh{
    height: 70vh!important;
}
.gap-8px{
    display: flex;
    gap: 8px;
}
.padding-bottom-80px{
    padding-bottom: 80px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px
}
.h-line{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    margin-top: 24px;
}
.card{
    flex-direction: row!important;
}
.subjekt-buttons{
    background-color: #052C65;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.font-size-36px{
    font-size: 22px!important;
    font-weight: 500!important;
}
.question-counter{
    display: flex;
    justify-content:space-between;
    
}
.mb-2 {
    margin-top: 0.5rem!important;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    font-family: rubik-r;
    font-size: 26px;
    font-family: 400;
}
.margin-lr-16px{
    margin-right: 16px;
    margin-left: 16px;
}
.quizz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
.question-img{
    height: 280px;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
}
.brain-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.topic-button{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: rubik-r;
}
.winner-img{
    display: flex;
    justify-content: center;
}