@font-face {
    font-family: "rubik-r";
    src: url("./fonts/Rubik-Regular.ttf");
  }
  @font-face {
    font-family: "rubik-m";
    src: url("./fonts/Rubik-Medium.ttf");
  }
  @font-face {
    font-family: "ptSans-r";
    src: url("./fonts/PTSans-Regular.ttf");
  }
  @font-face {
    font-family: "ptSans-b";
    src: url("./fonts/PTSans-Bold.ttf");
  }

body{
    height: 100vh;
    background-color:#FEFAEF!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-row{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
h5{
    font-size: 2.25rem!important;
    font-family: rubik-m;
}
.text-center{
    text-align: center;
}
.font-rubik-r{
    font-family: rubik-r;
}
.width-85-vw{
    width: 85vw !important;
}
.gap-8px{
    display: flex;
    gap: 8px;
}
.padding-bottom-48px{
    padding-bottom: 48px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 16px 16px;
    height: 100vh;
}
.h-line{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    margin-top: 24px;
}
.card{
    flex-direction: row!important;
}
.subjekt-buttons{
    background-color: #052C65;
    border-radius: 16px 0px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.font-size-36px{
    font-size: 22px!important;
    font-weight: 500!important;
}
.question-counter{
    display: flex;
    justify-content:space-between;
    
}
.mb-2 {
    margin-top: 0.5rem!important;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    font-family: rubik-r;
    font-size: 26px;
    font-family: 400;
}
.start-site-headline{
    position: absolute;
    font-family: ptSans-b;
}
.quizz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
.question-img{
    height: 280px;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
}
.brain-img{
    height: 80vh;
    width: 100%;
    border-radius: 0px 16px 16px 0;
    object-fit: cover;
}
.start-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-img{
    margin-bottom: 60px;
}
.topic-button-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 24px;
    font-family: rubik-r;
}
.orange-button{
    background-color: #FF4E0F !important;
    border-color: #FF4E0F !important;
}
.orange-button:hover{
    opacity: 0.8 !important;
}
.orangeFontButton{
    color: #FF4E0F;
    background-color: #F7D5BB;
    border-color: #F7D5BB; 
    border: unset;
}
.topicButtons {
    width: 184px;
    font-size: 28px;
    color: white;
    background-color: #052C65;
    border: unset;
    position: relative;
    overflow: hidden;
  }
  .container-for-topic-button{
    display: flex;
    width: 100%;
  }
  .container-for-one-row-button-topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .topic-button-box{
    display: flex;
  }
 .current-box-button{
    background-color:white;
    width: 7px;
    height: 32px;
    left: 0;
 }
.orangeFontButton:hover{
    color: #ef8a65;
}

.winner-img{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 240px;
    margin-bottom: 16px;
}
.endScreenContainer{
    background-color:#F7D5BB;
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
}
.empty-block{
    height: 24px;
    width: 8px;
}
